<!DOCTYPE html>
html(lang="zh-tw")
head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	title Jqueryvalidation表單驗證
	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css",  integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r", crossorigin="anonymous")
	link(rel="stylesheet", href="assets/css/style.css")
	link(rel="shortcut icon", href="https://i0.wp.com/letswrite.tw/wp-content/uploads/2019/07/cropped-letswrite512-1.jpg")

	// Google Tag Manager
	script.
		(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-PGQ9WQT');
body
	// Google Tag Manager (noscript)
	noscript
		iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-PGQ9WQT", height="0", width="0", style="display:none;visibility:hidden")
	.container
		.row
			.col-md-12
				h2.page-header Jqueryvalidation的驗證方法
				.alert.alert-warning
					| 使用的套件：
					a(href="https://jqueryvalidation.org/", target="_blank") Validation
				form#validation-form
					.form-group
						label(for="name") 姓名：
						input#name.form-control(type="text", name="name", autofocus, required)

					.form-group
						label(for="phone") 電話：
						input#phone.form-control(type="tel", name="phone")

					.form-group
						label(for="birth") 生日：
						input#birth.form-control(type="text", name="birth")

					.form-group
						label(for="email") email：
						input#email.form-control(type="email", name="email")

					.form-group
						label(for="password") 密碼：
						input#password.form-control(type="password", name="password")

					.form-group
						label(for="check_password") 確認密碼：
						input#check_password.form-control(type="password", name="check_password")

					button.btn.btn-block.btn-primary(type="submit") 送出
	
	script(src="assets/vendor/jquery-1.12.3.min.js")
	//	引用jqueryvalidation
	script(src="assets/vendor/validation/jquery.validate.min.js")
	//	引用jqueryvalidation 中文化資料
	script(src="assets/vendor/validation/messages_zh_TW.min.js")
	script.
		$('#validation-form').validate({
			//	錯誤訊息的class名稱
			errorClass: 'help-block validation-error',

			//	驗證規則
			rules: {
				//	'欄位名稱': 參數
				'name': {
					//	required 是否為必填
					required: true,
					//	maxlength 最多字元數
					maxlength: 10,
					//	minlength 最少字元數
					minlength: 3
				},
				'phone': {
					required: true,
					maxlength: 10,
					minlength: 10,
					//	number 是否只能填數字
					number: true
				},
				'birth': {
					required: true,
					//	dateISO 驗證是否為日期
					dateISO: true
				},
				'email': {
					required: true,
					//	是否為email格式
					email: true
				},
				'password': {
					required: true
				},
				'check_password': {
					required: true,
					//	equalTo 與哪個欄位做對照
					equalTo: '#password'
				}

			},

			//	錯誤時的顯示訊息，沒有填寫就是預設訊息
			messages: {}
		});